* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    height: 100dvh;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 40px 40px 0px;
    padding-right: 120px;
    height: 275px;
    background-color: rgba(207, 206, 206, 0.5);
    background-image: url("./Images/Frame.svg");
    position: relative;
    z-index: 1;
}

h1 {
    max-width: 844px;
    font-size: 36px;
    font-weight: 900;
    line-height: 68px;
    text-transform: capitalize;
}

h1>span {
    color: #5A69F2;
}

.form-group {
    display: flex;
    padding: 8px 20px 8px 16px;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid var(--stroke, #F1F1F1);
    background: var(--White, #FFF);
    box-shadow: 0px 8px 64px 0px rgba(0, 0, 0, 0.10);
}

.form-group>input {
    color: var(--Dark-25, rgba(8, 8, 8, 0.25));
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
    outline: none;
    border: none;
    width: 300px;
}

.form-group>.btn {
    padding: 10px 24px;
    border-radius: 10px;
    border: none;
    background: var(--Dark, #080808);
    color: var(--White, #FFF);
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    text-transform: capitalize;
    cursor: pointer;
}

.frame {
    right: 0;
    bottom: 0;
    position: absolute;
    height: 275px;
    width: 330px;
    background: var(--Blue, #5A69F2);
    border-top-left-radius: 82px;
    border-bottom-left-radius: 130px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    z-index: -1;
}